* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #33475B;
}

.container {
    width: 51%;
    margin: auto;
    height: 100%;
}

/* inizio header top */
#header-top {
    height: 100px;
    background-color: #F5F8FA;
    border: 1px solid #CBD6E2;
}

#header-top-left {
    line-height: 100px;
    float: left;

}

#top-menu  li #border-right {
    line-height: 35px;
    padding-right: 15px;
    border-right: 2px solid #CBD6E2;
}


#top-menu li, #top-menu-right li {
    display: inline-block;

}

#top-menu li a, #top-menu-right li {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    /* text-transform: uppercase; */
    display: inline-block;
    line-height: 100px;
    font-size: 16px;
}

 #header-top-right {
     float: right;
 }

#header-bottom {
    margin-top: 6px;
    height: 100px;
    background-color: white;
}


.pulsante-vuoto {
    background-color: white;
    color:#FF7A59;
    text-decoration: none;
    border: 1px solid #FF7A59;
    padding: 15px 30px;
    border-radius: 8px;
}

.pulsante-orange {
    padding-left: 10px;
    color: white;
    background-color: #FF7A59;
    text-decoration: none;
    border: 1px solid #FF7A59;
    padding: 15px;
    border-radius: 8px;
}

/* fine header top */

/* inizio header bottom */

#header-bottom-left {
    float: left;
}

#header-bottom-left img {
    float: left;
    width: 140px;

}

#header-bottom-right {
    float: right;
    display: inline-block;

}

#bottom-menu li, #bottom-menu li a {
    color: #33475B;
    list-style: none;
    color: black;
    padding-right: 10px;
    font-weight: 600;
    text-decoration: none;
    /* text-transform: uppercase; */
    display: inline-block;
    line-height: 100px;
    font-size: 25px;
    float: right;
}

/* fine header bottom */

/* inizio homepage */
section {
    background-size: cover;
    background-image: url(home.png);
    margin: auto;
    height: 620px;
    }

.homepage {
    margin: auto;
    height: 400px;
}

.container-homepage {
    width: 51%;
    height: 100%;
    margin: auto;
    padding-top: 30px;

}

.text-top-homepage {
    width: 410px;
    height: 100%;
}

.text-top-homepage h1, .text-top-homepage p  { margin: 17px 0; }

.text-top-homepage h1 {
    font-size: 43px;
    color: #33475B;
}

.text-top-homepage p {
    line-height: 30px;
    font-size: 18px;
    color: #33475B;
}

#pulsante-orannge-home {
    width: 50px;
    height: 100%;
}

.text-bottom-homepage {
    position: absolute;
    margin-top: 45px;

}

.text-bottom-homepage a {
    float: left;
    color: white;
    background-color: #FF7A59;
    text-decoration: none;
    border: 1px solid #FF7A59;
    padding: 32px;
    border-radius: 8px;
}

.clearfix {
    clear:both;
}

.text-bottom-homepage p {
    float: left;
    line-height: 20px;
    font-size: 13px;
    position: absolute;
    margin-top: 60px;
}

/* fine homepage */


/* inizio container software  */

main {
    background-color: #F5F8FA;
}

.container-product {
    width: 51%;
    margin: auto;
    height: 100%;
}

/* inizio box 1 */
.box1 {
    margin-top: 7%;
    float: left;
    width: 34%;
}

.box1 h2 {
    font-size: 43px;
    color: #33475B;
    padding-bottom: 15px;
}

.box1 p {
    line-height: 27px;
    font-size: 19px;
    color: #33475B;
}
/* fine box 1 */

/* inizio box 2 */
.box2 {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 33px;
    margin-top: 1%;
    float: right;
    width: 60%;
}

.text-top h3 {
    color: #33475B;
    font-size: 30px;
    line-height: 60px;
}

.text-top p {
    color: #33475B;
    font-size: 16px;
    line-height: 30px;
}


.text-center p {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
}

.text-center p::after {
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(153,172,194,0.2);
    top: 4px;
    width: 70%;
}

.text-bottom-list ul {
    margin-top: 20px;
    list-style: square;
    margin-left: 18px;
}

.text-bottom-list ul li {
    float: left;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;
}

.text-bottom-list ul li:not(:last-child) {
    margin-right: 20px;
}

.button-crm  {
    text-align: center;
    width: 45%;
    float: right;
    color: white;
    background-color: #FF7A59;
    text-decoration: none;
    border: 1px solid #FF7A59;
    padding: 22px;
    border-radius: 8px;
}

.clearboth {
    clear: both;
}
/* fine box 2 */

/* inizio box 3 */
.box3 {
    margin-left: 9px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    margin-top: 2%;
    float: left;
    width: 32%;
}

.text-top-box3 h3 {
    color: #33475B;
    font-size: 30px;
    line-height: 60px;
}

.text-top-box3 p {
    color: #33475B;
    font-size: 16px;
    line-height: 30px;
}


.text-center-box3 p {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
    border-top: 1px solid rgba(153,172,194,0.2);
    padding-top: 20px;
}

/* .text-center-box3 p::after {
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(153,172,194,0.2);
    top: 4px;
    width: 70%;
} */

.text-bottom-list-box3 ul {
    margin-top: 20px;
    list-style: square;
    margin-left: 18px;
}

.text-bottom-list-box3 ul li {
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;
}

.text-bottom-list-box3 ul li:not(:last-child) {
    margin-right: 20px;
}

.button-crm-box3 {
    margin-top: 20px;
    text-align: center;
    width: 52%;
    float: left;
    color: white;
    background-color: #FF7A59;
    text-decoration: none;
    border: 1px solid #FF7A59;
    padding: 22px;
    border-radius: 8px;
    transform: translate(70px, -3px);
}

.clearboth {
    clear: both;
}
 /* fine box 3 */

 
