* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
}

/* inizio header top */
#header-top {
    height: 100px;
    background-color: #F5F8FA;
    border: 2px solid #CBD6E2;

}

#header-top-left {
    line-height: 100px;
    float: left;

}

#top-menu li, #top-menu-right li {
    display: inline-block;

}

#top-menu li a, #top-menu-right li {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    line-height: 100px;
    font-size: 12px;
}

 #header-top-right {
     float: right;
 }

#header-bottom {
    margin-top: 3px;
    height: 100px;
    background-color: white;
}


.pulsante-vuoto {
    color:#FF7A59;
    text-decoration: none;
    border: 1px solid #FF7A59;
    padding: 15px 30px;
    border-radius: 8px;
}

.pulsante-principale {
    padding-left: 10px;
    color: white;
    background-color: #FF7A59;
    text-decoration: none;
    border: 1px solid #FF7A59;
    padding: 15px;
    border-radius: 8px;
}

/* fine header top */

/* inizio header bottom */

#header-bottom {
    border: 2px solid #CBD6E2;
}

#header-bottom-left {
    float: left;
}

#header-bottom-left img {
    float: left;
    width: 140px;

}

#header-bottom-right {
    float: right;
    display: inline-block;

}

#bottom-menu li, #bottom-menu li a {
    list-style: none;
    color: black;
    padding-right: 10px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    line-height: 100px;
    font-size: 12px;
    float: right;
}
